<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="{{ asset('/vendors/ckeditor/ckeditor.js') }}"></script>
    <script src="js/functions.js"></script>
</head>
<div class="container">
        <h1>Templates</h1>
        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" name="template" class="form-control" placeholder="Search template" ng-model="search">
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                <a href="" ng-click="ordered('name')">
                                    Name
                                </a>
                                <span class="caret" style="cursor: pointer;" ng-click="ordered('-name')"></span>
                            </th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="template in templates | orderBy:orderSelected | filter:search">
                            <td ng-model="idshow"><%template.ID%></td>
                            <td><%template.TemplateName%></td>
                            <td><button type="button" class="btn btn-primary btn-xs" ui-sref="show({id:template.ID})">Show</button></td>                        
                        </tr>
                    </tbody>            
                </table>
            </div>      
        </div>
        <hr>    
        <button type="button" class="btn btn-primary" ui-sref="create">Create</button>
        
    </div>
